*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 20px;
    /* width: 70vmin; */

    width: 90%;
    max-width: 500px;
}

.head{
    display: flex;
    gap: 20px;
}

input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    height: 30px; width: 85%;
    text-align: center;
    background-color:coral;
    color: black;
}

button{
    height: 30px; width: 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #555;
}



.last{
    gap: 50px;
    display: flex;
    align-items: center;
}

.same{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.img{
    height: 50px; width: 50px;
    object-fit: cover;
}

.first, .second{
    gap: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temp{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

#place{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

#humidity, #wind{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

p{
    font-size: 25px;
    font-weight: 600;
}

@media(max-width: 600px){
    .main{
        width: 95vw;
        /* height: 100vh; */

        padding: 10px;
    }

    .head{
        gap: 10px;
    }

    input,button{
        font-size: 18px;
        height: 35px;
    }

    /* button{
        height: 40px; width: 40px;
        font-size: 20px;
    } */

    #temp{
        font-size: 36px;
    }

    #place{
        font-size: 28px;
    }

    /* #humidity, #wind, p{
        font-size: 30px;
    } */

    .last{
        gap: 30px;
    }

    .img{
        height: 60px; width: 60px;
    }

    p{
        font-size: 20px;
    }
}